@import 'tailwindcss';
/* @import './common/theme.css'; */
/* 수동으로 다크모드를 적용하는 경우 */
/* @custom-variant dark (&:where(.dark, .dark *));  */

@theme {
  --pretendard: 'Pretendard Variable', Pretendard, sans-serif;
  --color-likelion-black: #303033;
  --color-likelion-red: #b02c20;
  --color-likelion-green: #58dc76;
  --color-likelion-silver: #f5f5f5;

  --building: url(../src/assets/images/building.avif);

  --minmax-size: 240px;
  --autofit: repeat(auto-fit, minmax(var(--minmax-size), 1fr));

  --color-grey-200: #f5f5f5;
  --color-primary: rgb(48, 48, 51);
  --color-info: #58dc76;
}

@layer components {
  .bootcamp {
    background-color: orange;
    padding: 1em;
    margin-block: 1em;
    border: 5px solid blue;
  }

  .like {
    @apply border-4 border-red-300 p-4 my-4 bg-blue-200;
  }
}

@utility shape-circle {
  shape-outside: circle(50%);
}
/* 
@layer utility {
  .shape-circle {
    shape-outside: circle(50%);
  }
} */
